h1{
    font-size: 48px;
    margin: 20px auto;
    text-align: center;

}

.img{
    width: 50%;
    height: 300px;

    background-color: darkgray;
    margin: auto;
}

h2{
    font-size: 24px;
    margin: 10px 0;
    text-align: left;
}

p{
    font-size: 24px;
    margin: 10px 0;
    text-align: left;
}

.row{
    width: 50%;
    margin: auto;
    background-color: pink;
}

.col-md-6{
    text-align: left;
}

